@charset "UTF-8";

/* Configuración de color de texto */
.container {
  max-width: 100%;
  padding: 0 2rem;
  /*margin: auto;*/
  overflow: hidden;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Signika Negative", sans-serif;
  line-height: 1.6;
  max-width: 100%;
  background-color: #fff;
}

/*Log-In*/

.logIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #94cef8;
  width: 100%;
  height: 100vh;
}

.logIn form {
  width: 100%;
  max-width: 30rem;
  padding: 3rem;
  margin: 0rem 1rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0rem 0.6rem 1rem 0.3rem rgba(0, 0, 0, 0.5);
}

.logIn form h3 {
  font-weight: bold;
  font-size: 3.5rem;
  color: #034574;
  margin-bottom: 1.5rem;
}

.logIn form .input-correcto {
  width: 85%;
  margin: 1.3rem 0rem;
  border: none;
  border-bottom: 2px solid #034574;
  border-radius: 0;
  font-size: 1rem;
}

.logIn form .input-correcto:hover {
  background-color: #e0eef8;
  border-radius: 0.2rem;
}

.mb-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #034574;
}

.mb-3 i {
  margin-right: 0rem;
  width: 1.5rem;
}

.logIn form button {
  background-color: #034574;
  border-color: #034574;
  margin: 1.2rem 0rem;
  font-size: 1.2rem;
}

.logIn form button:hover {
  background-color: #006dbb;
  border-color: #006dbb;
}

.register-text {
  color: #676767;
}
.register-text a {
  color: #676767;
}

/*Registro*/
.registro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #94cef8;
  width: 100%;
  min-height: 100vh;
}

.registro form {
  width: 100%;
  max-width: 30rem;
  margin: 3rem 2rem 6rem 1rem;
  padding: 2.2rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0rem 0.6rem 1rem 0.3rem rgba(0, 0, 0, 0.5);
}

.registro form h3 {
  font-weight: bold;
  font-size: 2.5rem;
  color: #034574;
  margin-bottom: 0.4rem;
}

.registro form .input-correcto {
  width: 85%;
  padding-left: 0.25rem;
  margin: 0.6rem 0rem;
  border: none;
  border-bottom: 2px solid #034574;
  border-radius: 0;
  font-size: 1rem;
}

.registro form .input-correcto:hover {
  background-color: #e0eef8;
  border-radius: 0.2rem;
}

.mb-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #034574;
}

.registro form button {
  background-color: #034574;
  border-color: #034574;
  margin: 1rem 0rem;
  font-size: 1.2rem;
}

.registro form button:hover {
  background-color: #006dbb;
  border-color: #006dbb;
}

/*Validaciones*/
.error-text {
  color: red;
  font-size: 1rem;
}

.logIn form .input-error {
  width: 85%;
  padding-left: 0.25rem;
  margin: 0.6rem 0rem;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  background-color: rgb(255, 201, 201);
  border-bottom: 2px solid #930000;
}
.registro form .input-error {
  width: 85%;
  padding-left: 0.25rem;
  margin: 0.6rem 0rem;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  background-color: rgb(255, 201, 201);
  border-bottom: 2px solid #930000;
}

.logIn form .input-error:hover {
  background-color: rgb(255, 152, 152);
}

.registro form .input-error:hover {
  background-color: rgb(255, 152, 152);
}

div {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
/* Estilos generales para los botones */
.btn-main,
.btn-light,
.btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background-color: #ffbc00;
}

.btn-light {
  color: #333;
  background-color: #f4f4f4;
}

.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}

.lead {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

/* Márgenes internos generales (padding) */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

/* Márgenes externas generales (margin) */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

/* Fondos */
.bg-main {
  background: #ffbc00;
  color: #fff;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #000;
}

.bg-medium {
  background: #ccc;
  color: #000;
}

.section-title {
  font-size: 2rem;
  display: block;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 5rem;
  background: #ffd600;
  display: block;
  margin: 0 auto 2rem auto;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

/* Logo */
#logo {
  width: 60px;
  height: 60px;
}
.fixed {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  height: 4.5rem;
  background-color: #034574;
}
/*#039fc2*/

.fixed-no {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  height: 5rem;
  border-bottom: solid 5px #fdde87;
  background-color: #ffffff;
}

nav h3 {
  max-width: 300px;
  width: 100%;
  color: white;
}

nav img {
  width: 2.5rem;
  height: auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  margin-left: 0;
}

nav li {
  list-style: none;
  padding: 0 5px;
  color: #ffffff;
  font-size: 1.2rem;
}

nav .apartados {
  display: show;
}
/*#fbff00*/
nav li a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 20px;
}

a:hover {
  color: #ffd600;
  font-weight: bold;
}

.active {
  padding-bottom: 0.4rem;
  border-bottom: solid 3px #ffd600;
}

.carga-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 4.5rem;
  background-color: #034574;
  color: white;
}

/*Usuario y botón LogOut*/

nav li h1 {
  margin-top: 0.56rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 3rem;
  background-color: #002744be;
  padding: 0.8rem 3.5rem 0.7rem 1rem;
  border-radius: 1rem 0.3rem 0.3rem 1rem;
  min-width: 12rem;
}
.btn-logOut {
  position: absolute;
  display: flex;
  font-size: 1.1rem;
  justify-self: center;
  align-items: center;
  padding: 0.5rem;
  height: 2.2rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0.5rem 0.3rem 0.5rem 0rem rgba(0, 0, 0, 0.3);
  color: black;
  background-color: #ffffff;
  top: 1.15rem;
  right: 1.8rem;
}

.btn-logOut:hover {
  background-color: #ff2525;
  color: white;
}

.btn-logOut i {
  margin-left: 0.5rem;
}

.menu-btn {
  display: none;
}

/* Navegación principal */
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
#main-nav ul {
  display: flex;
}
#main-nav li {
  padding: 1rem 1.5rem;
}
#main-nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color o, 5s;
}
#main-nav a:hover {
  border-color: #ccc;
}
#main-nav a.current {
  border-color: #ffbc00;
}

/* Header Inicio*/

#header-home {
  position: relative;
  background: url("https://planesconduende.com/wp-content/uploads/2022/08/pexels-darren-lawrence-3417784-scaled-2560x1280.jpg")
    no-repeat center right/cover;
  height: 100vh;
  color: white;
  /* Header content */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 54, 54, 0.4);
  z-index: 1;
}

#header-home .header-content {
  position: relative;
  text-align: center;
  padding: 20%;
  z-index: 2;
}
#header-home .lead {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-shadow: 0.1rem 0.1rem rgba(3, 3, 3, 0.6);
}
.btn-home {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ffd600;
  font-size: 1.2rem;
  color: #01355a;
  font-weight: bold;
  /*box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);*/
}

.btn-home:hover {
  background-color: #d0eafd;
  color: #034574;
}

#header-home .header-content h1 {
  font-size: 4rem;
  line-height: 1.2;
  text-shadow: 0.2rem 0.2rem rgba(3, 3, 3, 0.6);
}

/* Estilo secciones Inicio */
/*  Sección A */
#home-1 .specials {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

#home-2 .stats {
  display: grid;
  color: #012f7a;
  grid-template-columns: repeat(4, 1fr);
}
#home-2 .stats li {
  line-height: 2;
}
#home-2 .stats li.stats-title {
  font-size: 1.5rem;
}
#home-2 .stats li.stats-number {
  font-size: 2rem;
  font-weight: bold;
}
#home-2 .stats div {
  padding: 3rem 0;
}
#home-2 .stats div:nth-child(odd) {
  background: #def1fe;
}
#home-2 .stats div:nth-child(even) {
  background: #94cef8;
}

#home-1 .process {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  text-align: center;
}
#home-1 .process-step {
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  font-size: 28px;
  background: #ffbc00;
  color: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 2.5rem;
  padding: 0;
}
#home-1 .process-icon {
  border-radius: 50%;
  background: #012f7a;
  color: #fff;
  padding: 0rem;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: relative;
  /*transition: all 1s;*/
}

#home-1 image {
  position: absolute;
  left: 0;
}

#home-2 li {
  margin-right: 1.5rem;
}

#home-3 .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#home-3 .card {
  width: 18rem;
  margin: 2rem;
}

#home-3 .card img {
  max-width: 18rem;
  max-height: 10rem;
}

#home-3 .btn-card {
  background-color: #034574;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 3rem;
}

/*Planes */

.lugares .lead {
  margin-bottom: 0.5rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0rem 6rem;
  margin: 3rem 0;
  gap: 1rem;
}

.item {
  position: relative;
  background-color: #034574;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}
.item::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}
.item:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}
.item:hover .item-image {
  transform: scale(1.2);
}
.item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}
.item-image {
  height: auto;
  transition: translateZ(0);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}
.item-image::before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}
.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
  object-fit: cover;
}
.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}
.item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
}
.item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7rem;
  margin: 0;
}

/*Pág-Planes*/
.infoPlanes .active {
  border: none;
}

.infoPlanes nav {
  margin-top: 0.5rem;
}

.infoPlanes a {
  color: #0362fb;
  margin: 0;
}

.containerPlanes {
  display: flex;

  margin-top: 0rem;
}

.plan {
  padding: 0rem 4rem;
  width: 65%;
  margin: 0rem;
}

.carousel {
  max-width: 40rem;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}

.carousel-control-prev img,
.carousel-control-next img {
  width: 3rem;
  background-color: #000000a8;
  border-radius: 3rem;
  padding: 0.5rem;
}

.carousel-inner img {
  width: 100%;
  height: 25rem;
  border-radius: 1rem;
}

.infoPlanes h1 {
  text-align: left;
  padding-left: 0.2rem;
  font-size: 2.2rem;
  margin-top: 1rem;
}

.info-adicional ul {
  margin-top: 0rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.info-adicional h4 {
  text-transform: none;
  color: gray;
  margin: 0;
}

.info-adicional p {
  font-weight: bold;
  font-size: 1.1rem;
}

.top-line {
  height: 2px;
  width: 100%;
  background: #ffd600;
  display: block;
  margin: 0 auto 1rem auto;
}

.compra {
  padding: 0rem 2rem;
  padding-top: 2rem;
  width: 30%;
  margin: 0rem 2rem 2rem 2rem;
  background-color: #f4f4f4;
}

.compra span {
  font-size: 1rem;
  color: #666666;
}

.form-compra {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  display: block; /* Asegura que el label sea un elemento de bloque */
  text-align: left;
}

.form-compra h2 {
  text-transform: none;
  color: #034574;
  font-size: 1rem;
}

.form-compra h3 {
  text-transform: none;
  color: #034574;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}
.form-compra h4 {
  text-transform: none;
  color: #034574;
  font-size: 1.5rem;
  font-weight: bold;
}

.operacion {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Esto separa los elementos en los extremos */
  align-items: center;
  margin: 1rem 0rem;
}

.btn-operacion {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.operacion h2 {
  font-size: 1.2rem;
}

.btn-operacion p {
  color: black;
  text-align: center;
  background-color: rgb(234, 234, 234);
  border: 2px solid rgb(227, 227, 227);
  border-radius: 0.4rem;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

.compra form .btn {
  background-color: #034574;
  border-color: #034574;
  margin: 1rem 0rem;
  font-size: 1.2rem;
}

.compra form .btn:hover {
  background-color: #006dbb;
  border-color: #006dbb;
}

.operacion button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(234, 234, 234);
  border: 2px solid rgb(227, 227, 227);
  border-radius: 0.4rem;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

.infoPlanes {
  padding: 0 3rem;
}

.descripcion {
  text-align: justify;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  background-color: #def1fe;
  padding: 2rem;
  border-radius: 0.5rem;
}

.descripcion p {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.descripcion h1,
.accordion h1,
.titulo-itinerario {
  font-size: 2rem;
}

.line {
  height: 1.2px;
  width: 100%;
  background: #ffd600;
  display: block;
  margin: 0 auto 1rem auto;
}

.juntos {
  display: flex;
  justify-content: flex-start;
}

.juntos ul {
  margin-right: 4rem;
  padding: 0;
}

.incluido-excluido {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
}

.incluido-excluido ul {
  padding: 0 1rem;
  margin-right: 0;
}

.incluido-excluido li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  width: 20rem;
}

.incluido i {
  margin-right: 0.5rem;
  color: green;
  font-size: 1.5rem;
}

.excluido i {
  margin-right: 0.5rem;
  color: red;
  font-size: 1.5rem;
}

.excluido p,
.incluido p {
  margin-top: -0.1rem;
  text-align: left;
}

.accordion {
  width: 40rem;
  margin-bottom: 3rem;
}

.accordion h1 {
  margin-bottom: 1.5rem;
}

.accordion button {
  font-size: 1.1rem;
  margin-bottom: -0.3rem;
  border: 3px solid #81c6f8;
}

.accordion button span {
  color: #034574;
  margin-right: 0.5rem;
  font-weight: bold;
}

.accordion-body {
  text-align: justify;
}

/*Nosotros*/

#about-a .about-info {
  display: grid;
  grid-template-areas:
    "bioimage bio bio"
    "aw1  aw2 aw3";
  gap: 1.2rem;
}

#about-a .bio-image {
  grid-area: bioimage;
}
#about-a .bio {
  background-color: #def1fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: bio;
  border-left: 3px solid #ffbc00;
  padding: 0.8rem 2.5rem;
}
.bio h4 {
  margin-bottom: 1rem;
}

.bio p {
  padding-bottom: 0rem;
}
.reconocimiento {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  width: 100%;
  max-width: 350px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reconocimiento h3 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

#about-a .award-1 {
  grid-area: aw1;
}
#about-a .award-2 {
  grid-area: aw2;
}
#about-a .award-3 {
  grid-area: aw3;
}
#about-b {
  padding: 0rem 10rem;
  background-color: #034574;
  /* #94cef8 */
}

#about-b h2 {
  color: white;
}

#about-b .progress {
  position: relative;
  overflow: hidden;
  height: 20px;
  background: #ccc;
  border-radius: 5px;
  margin-bottom: 2rem;
}

#about-b h4 {
  font-size: 1.2rem;
  text-align: left;
  padding-left: 0.5rem;
  color: white;
}
#about-b .progress div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  text-align: center;
  background-color: #ffc906;
}
#about-c .testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.testimonials p {
  width: 22rem;
  /*Para responsive pantalla grande-> min-width: 22rem;*/
}
#about-c ul {
  list-style: none;
  margin-top: 1rem;
  padding-left: 1rem;
  width: 18rem;
  display: flex;
  align-items: center;
}
#about-c p {
  padding: 10px;
  border: 1px solid #ccc;
}
#about-c img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

/* Sección Nosotros B */
#contact-b {
  background-color: #def1fe;
}
#contact-b .contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  color: #034574;
}

/* Footer */
#main-footer {
  background: #034574;
  color: #fff;
  height: 8rem;
  max-width: 100%;
  padding-top: 1rem;
}

#main-footer p {
  margin-right: 1rem;
  margin-bottom: 0;
  text-align: center;
  padding: 1rem 0.5rem 0 0.5rem;
}

/*Responsive*/

@media (max-width: 2560px) {
  /*Nosotros*/

  .testimonials div {
    justify-items: center;
    align-items: center;
    max-width: 100%;
  }
  .testimonials p {
    width: 27rem;
  }
}

@media (max-width: 2070px) {
  .testimonials p {
    width: 20rem;
  }
}
@media (min-width: 2560px) {
  /*Pantalla + grande*/

  /*Navbar*/

  .fixed {
    width: 100%;
    padding: 1rem;
    height: 6.5rem;
  }
  /*#039fc2*/

  nav img {
    width: 3.5rem;
    height: auto;
  }

  nav li {
    padding: 0 8px;
    font-size: 1.8rem;
  }
  nav li a {
    margin: 0 30px;
  }
  .active {
    padding-bottom: 0.4rem;
    border-bottom: solid 4px #ffd600;
  }

  nav li h1 {
    margin-top: 0.56rem;
    font-size: 1.9rem;
    margin-right: 5rem;
    background-color: #002744be;
    padding: 1rem 4rem 0.9rem 1rem;
    border-radius: 1rem 0.3rem 0.3rem 1rem;
    min-width: 16rem;
  }

  /*Usuario y botón LogOut*/
  .btn-logOut {
    font-size: 1.6rem;
    padding: 0.5rem;
    height: 3rem;
    top: 1.8rem;
    right: 2.1rem;
  }

  .btn-logOut i {
    margin-left: 0.5rem;
  }

  /*Home*/

  #header-home .header-content h1 {
    font-size: 6rem;
  }

  #header-home .header-content p {
    font-size: 2rem;
  }

  .btn-home {
    font-size: 2rem;
  }

  #home-3 .card {
    width: 30rem;
    margin: 2rem;
  }

  #home-3 .card h5 {
    font-size: 2rem;
  }

  #home-3 .card img {
    max-width: 30rem;
    max-height: 20rem;
  }

  #home-3 .btn-card {
    background-color: #034574;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
  }

  /*Planes*/

  /*Nosotros*/

  #about-a .bio {
    padding: 0.8rem 5rem;
  }

  #about-a .bio h4 {
    font-size: 2.2rem;
  }
  #about-a .bio p {
    font-size: 1.5rem;
  }
  #about-a .about-info {
    gap: 2.5rem;
  }

  .testimonials p {
    width: 38rem;
  }

  #about-c ul {
    margin-top: 1rem;
    padding-left: 4rem;
    width: 30rem;
  }
  #about-c li {
    font-size: 1.2rem;
  }
  #about-c img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  /*Pág Planes*/
  .juntos ul {
    margin-right: 10rem;
  }

  .accordion {
    width: 60rem;
    margin-bottom: 3rem;
  }

  .descripcion h1,
  .accordion h1,
  .infoPlanes h1,
  .titulo-itinerario {
    font-size: 3rem;
  }

  .incluido-excluido ul {
    padding: 0 1rem;
    margin-right: 0;
  }

  /*Footer*/
  #main-footer {
    height: 10rem;
    max-width: 100%;
    padding-top: 1rem;
  }

  #main-footer p {
    font-size: 1.8rem;
  }
}
@media (max-width: 1440px) {
  /*Casi que normal*/
  /*Navbar*/

  /*Home*/

  /*Planes*/

  /*Nosotros*/

  #about-a .bio {
    padding: 1rem 1.5rem;
  }

  #about-a .bio h4 {
    margin-bottom: 0.8rem;
  }
  #about-a .bio p {
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
  }

  .reconocimiento i {
    font-size: 3.5rem;
  }

  .reconocimiento h3 {
    font-size: 1.2rem;
  }

  .reconocimiento p {
    font-size: 0.8rem;
  }

  #about-b {
    padding: 0rem 7rem;
  }

  .testimonials div {
    justify-items: center;
    align-items: center;
    max-width: 100%;
  }

  .testimonials p {
    width: 18rem;
  }

  /*Pág planes*/
  /* .juntos ul {
    margin-right: 2rem;
  } */

  .incluido-excluido ul {
    padding: 0rem;
  }

  .accordion {
    width: 36rem;
    margin-bottom: 3rem;
    margin-left: 0;
  }
}

@media (max-width: 1325px) {
  /*Home*/

  /*Planes*/

  /*Nosotros*/
  .testimonials p {
    width: 26rem;
  }
  #about-c .testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem;
  }

  #contact-b .contact-info i {
    font-size: 1.8rem;
  }
  #contact-b .contact-info h3 {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }

  /*Pág Planes*/
  .plan {
    padding: 0rem 1rem;
    /* width: 55%; */
    margin: 0rem;
  }

  .infoPlanes {
    padding: 0rem 1rem;
  }

  .infoPlanes a {
    padding-left: 1rem;
  }

  .compra {
    padding: 0rem 1.5rem;
    padding-top: 1.5rem;
    width: 32%;
    margin: 0rem 0.8rem 2rem 1rem;
  }

  .form-compra {
    font-size: 1rem;
  }

  .form-compra label {
    margin-bottom: 0rem;
  }

  .form-compra h2 {
    font-size: 1rem;
  }

  .form-compra h3 {
    font-size: 1rem;
  }
  .form-compra h4 {
    font-size: 1.2rem;
  }

  .operacion h2 {
    font-size: 1rem;
  }

  .juntos {
    flex-direction: column;
  }
  .juntos ul {
    margin-left: 3rem;
  }

  .accordion {
    width: 40rem;
    margin-bottom: 3rem;
    margin-left: 0;
  }

  .descripcion h1,
  .accordion h1,
  .infoPlanes h1,
  .titulo-itinerario {
    font-size: 2rem;
  }

  .incluido-excluido ul {
    padding: 0 1rem;
    margin-right: 0;
    margin-left: 1rem;
  }
}

@media (max-width: 1000px) {
  /*Home*/
  .section-title {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    padding-bottom: 0.3rem;
  }
  /*Nosotros*/
  #about-a .about-info {
    display: grid;
    grid-template-areas:
      "bioimage"
      "bio"
      "aw1 "
      "aw2"
      "aw3";
    gap: 1.2rem;
  }

  #about-b {
    padding: 0rem 5rem;
  }

  .testimonials div {
    max-width: 100%;
  }
  .testimonials p {
    width: 44rem;
  }
  #about-c .testimonials {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.3rem;
  }
}

@media (max-width: 900px) {
  /*Navbar*/
  nav ul {
    margin: 0;
    padding-left: 0.5rem;
  }

  nav li {
    list-style: none;
    padding: 0 2px;
    font-size: 1.3rem;
  }
  nav li a {
    margin: 0 10px;
  }

  nav li h1 {
    margin-top: 0.56rem;
    font-size: 1.1rem;
    margin-right: 1.2rem;
    padding: 0.8rem 3.5rem 0.7rem 1rem;
    min-width: 8rem;
  }
  .btn-logOut span {
    display: none;
  }
  .btn-logOut {
    padding: 0.5rem;
    height: 2.2rem;
    top: 1.15rem;
    right: 0.5rem;
  }

  /*Home*/
  #header-home .header-content h1 {
    font-size: 3rem;
  }

  #header-home .header-content p {
    font-size: 1.5rem;
  }

  .btn-home {
    font-size: 1rem;
  }

  #home-1 .process {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  #home-2 .stats {
    display: grid;
    color: #012f7a;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  /*Planes*/
  .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0rem 3rem;
    margin: 3rem 0;
    gap: 1rem;
  }

  /*Pág planes*/
  .containerPlanes {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .plan {
    width: 90%;
  }

  .compra {
    width: 90%;
  }

  .incluido-excluido {
    flex-direction: column;
    justify-content: flex-start;
  }

  .incluido-excluido ul {
    margin-top: 1rem;
    justify-items: flex-start;
  }

  .incluido-excluido li {
    width: 100%;
  }
}
@media (max-width: 769px) {
  /*Navbar*/

  nav .pag-name {
    font-size: 1rem;
  }
  nav img {
    width: 1.9rem;
    height: auto;
  }

  nav .apartados {
    display: none;
  }

  nav li h1 {
    margin-top: 0.56rem;
    font-size: 1.1rem;
    margin-right: 1.5rem;
    padding: 0.8rem 3.5rem 0.7rem 1rem;
    border-radius: 1rem 0.3rem 0.3rem 1rem;
    min-width: 8rem;
  }

  .btn-logOut {
    top: 1.15rem;
    right: 4rem;
  }
  .menu-btn {
    width: 3.5rem;
    height: 2.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.5rem;
    color: #ffffff;
    background-color: #002744be;
    line-height: 0;
    cursor: pointer;
    display: show;
  }

  .hamburger-menu {
    position: fixed;
    top: 70px; /* Ajusta según la altura de tu navbar */
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px 0;
  }

  .hamburger-menu a {
    margin: 10px 0;
    text-decoration: none;
    color: #002744;
    font-size: 1.2rem;
  }

  /*Home*/
  #header-home .header-content {
    padding: 15%;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }
  /*Planes*/
  .items {
    padding: 0rem 1rem;
    gap: 1rem;
  }

  /*Nosotros*/

  #about-b {
    padding: 0rem 2rem;
  }
  #about-a .about-info {
    justify-items: center;
    align-items: center;
  }
  #about-a .bio-image {
    width: 70%;
    height: auto;
  }
  .testimonials p {
    width: 25rem;
  }

  #contact-b .container {
    padding: 0rem 0.5rem;
  }

  #contact-b .contact-info p {
    font-size: 0.7rem;
  }

  /*Pág planes*/

  .plan h1 {
    font-size: 1.5rem;
  }

  .carousel-inner img {
    height: 18rem;
  }

  .info-adicional ul {
    padding: 0;
  }

  .info-adicional h4 {
    font-size: 1rem;
  }

  .info-adicional p {
    font-size: 0.8rem;
  }

  .compra {
    padding: 0rem 1.5rem;
    padding-top: 1.5rem;
    width: 32%;
    margin: 0rem 0.8rem 2rem 1rem;
  }

  .form-compra {
    font-size: 1rem;
  }

  .compra h3 {
    font-size: 1.2rem;
  }

  .compra span {
    font-size: 0.8rem;
  }

  .ticket h4 {
    font-size: 5rem;
  }

  .form-compra input {
    height: 1.8rem;
  }

  .form-compra h2 {
    font-size: 1rem;
  }

  .form-compra h3 {
    font-size: 1rem;
  }
  .form-compra h4 {
    font-size: 1.2rem;
  }

  .juntos ul {
    padding: 0 1rem;
    margin: 0;
  }

  .compra {
    width: 100%;
  }
}

@media (max-width: 550px) {
  /*Log-In*/

  .logIn form {
    width: 100%;
    max-width: 20rem;
    padding: 2rem;
    margin: 0rem 0.3rem;
  }
  .logIn form .input-correcto {
    margin: 0.6rem 0rem;
    font-size: 0.8rem;
  }

  .logIn form h3 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }

  .register-text {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }

  .register-text a {
    font-size: 0.8rem;
  }

  .logIn form button {
    margin: 0.4rem 0rem;
    font-size: 1rem;
  }

  /*Registro*/
  .registro {
    width: 100%;
    min-height: 100vh;
  }

  .registro form {
    width: 100%;
    max-width: 20rem;
    margin: 3rem 2rem 6rem 2rem;
    padding: 2rem;
  }

  .registro form h3 {
    font-size: 2rem;
    margin-bottom: 0.2rem;
  }

  .registro form .input-correcto {
    width: 85%;
    padding-left: 0.25rem;
    margin: 0.6rem 0rem;
    font-size: 0.8rem;
  }

  .mb-3 {
    font-size: 1.3rem;
  }

  .registro form button {
    margin: 0.4rem 0rem;
    font-size: 1rem;
  }

  /*Validaciones*/
  .error-text {
    font-size: 0.8rem;
  }

  .logIn form .input-error {
    width: 85%;
    padding-left: 0.25rem;
    margin: 0.6rem 0rem;
    font-size: 0.8rem;
  }
  .registro form .input-error {
    width: 85%;
    padding-left: 0.25rem;
    margin: 0.6rem 0rem;
    font-size: 0.8rem;
  }

  /*Home*/
  #header-home .header-content {
    padding: 20%;
  }
  #header-home .header-content h1 {
    font-size: 2rem;
  }

  #header-home .header-content p {
    font-size: 1rem;
  }

  .btn-home {
    font-size: 0.8rem;
  }
  /*Planes*/
  .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0rem 0.5rem;
    margin: 1.5rem 0;
    gap: 1rem;
  }
}

@media (max-width: 400px) {
  /*Log-In*/

  .logIn form {
    width: 100%;
    max-width: 16rem;
    padding: 1.5rem;
    margin: 0rem 0.2rem;
  }
  .logIn form .input-correcto {
    margin: 0.4rem 0rem;
    margin-bottom: 0.2rem;
    font-size: 0.7rem;
  }

  .logIn form h3 {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
  }

  .register-text {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
  }

  .register-text a {
    font-size: 0.7rem;
  }

  .logIn form button {
    margin: 0.4rem 0rem;
    margin-top: 0rem;
    padding: 0.2rem;
    font-size: 0.8rem;
  }

  /*Registro*/
  .registro form {
    width: 100%;
    max-width: 16rem;
    margin: 3rem 2rem 6rem 2rem;
    padding: 1.5rem;
  }

  .registro form h3 {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
  }

  .registro form .input-correcto {
    width: 85%;
    padding-left: 0.25rem;
    margin: 0.4rem 0rem;
    font-size: 0.7rem;
  }

  .mb-3 {
    font-size: 1.2rem;
    margin-left: 0rem;
  }

  .registro form button {
    margin: 0.4rem 0rem;
    margin-top: 0rem;
    padding: 0.2rem;
    font-size: 0.8rem;
  }
  /*Navbar*/

  nav .pag-name {
    display: none;
  }

  /*Home*/

  #home-1 .process {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
  }

  #home-2 .stats {
    display: grid;
    color: #012f7a;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }

  /*Planes*/

  /*Nosotros*/

  #about-b {
    padding: 0rem 0.5rem;
  }
  .testimonials p {
    width: 15rem;
  }
  #about-c ul {
    margin-top: 1rem;
    padding-left: 1.5rem;
    width: 15rem;
  }

  #about-c img {
    margin-right: 0.4rem;
  }
  #contact-b .contact-info {
    grid-template-columns: repeat(1, 1fr);
  }
}
